	
*{ margin: 0; padding: 0; }

html, body{height: 100%;}

.container{
	min-height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 100px;
}

header{
	margin-bottom: 20px;
}

header h2{
  font-size: 27px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
  font-weight: normal;
}

main textarea{
	padding-left: 10px;
	padding-top: 5px;
	width: 500px;
	height: 500px;
	margin-bottom: 30px;

	font-size: 15px;
	font-family: "Arial";
  	color: rgb(68, 81, 98);
  	line-height: 1.5;
  	text-align: left;
}

input{
	width: 150px;
	height: 40px;
	border-radius: 6px;
	border: 0;

  	font-size: 22px;
  	font-family: "Arial";
  	color: white;
  	line-height: 1;

	background: rgb(68, 81, 98);
}


