<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Results</title>
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h3>Your review</h3>
	<div>{{ content }}</div>

	<h3>Forecast</h3>
	<div>
		This review is <strong>{{ prediction }}</strong>
		(With probability: {{ probability }}%).
	</div>

	<div class='button'>
		<form action="/thanks" method="post">
			<input type=submit value='True' name='feedback_button'> 
			<input type=submit value='False' name='feedback_button'>
			                                            
			<input type=hidden value='{{ prediction }}' name='prediction'>
			<input type=hidden value='{{ content }}' name='review'> 
		</form>
	</div>

	<div class='button'> 
		<form action="/">
			<input type=submit value='Send another one review'> 
		</form>
	</div>

</body>
</html>