<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Review classifier</title>
	<link rel="stylesheet"
		  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<header>
			<h2>Please enter your review</h2>
		</header>

		<main>
			{% from "_formhelpers.html" import render_field %}
	
			<form action="/results" method="post">

				<dl>
					{{ render_field(form.moviereview, cols='50', rows='30')}}
				</dl>

				<div>
					<input type="submit" value="Send review" name='submit_btn'>
				</div>

			</form>
			
		</main>

		<footer>
			
		</footer>
	</div>
</body>
</html>